appdirs==1.4.0
click==6.6
-e git+git@github.com:sumpfgottheit/lanscan.git@034d04a50bc8726e739fc6eb29702378071b28f7#egg=lanscan
netaddr==0.7.18
netifaces==0.10.5
python-nmap==0.6.1
PyYAML==3.12
requests==2.12.1
https://github.com/phaethon/scapy.git
texttable==0.8.7
